In [1]:
import sqlite3
import pandas as pd

In [2]:
# Создадим таблицу test3
connection = sqlite3.connect('C:/chinook.db')
cursor = connection.cursor()


cursor.execute('''
CREATE TABLE IF NOT EXISTS test3 (
key INTEGER,
id  INTEGER,
phone VARCHAR,
mail VARCHAR
)''')
               
connection.commit()
connection.close()

In [3]:
# Заполним таблицу test3
connection = sqlite3.connect('C:/chinook.db')
cursor = connection.cursor()


#cursor.execute(""" INSERT INTO test3
            VALUES
            ('1', '12345', '89997776655', 'test@mail.ru'),
            ('2', '54321', '87778885566', 'two@mail.ru'),
            ('3', '98765', '87776664577', 'three@mail.ru'),
            ('4', '66678', '87778885566', 'four@mail.ru'),
            ('5', '34567', '84547895566', 'four@mail.ru'),
            ('6', '34567', '89087545678', 'five@mail.ru'),
            ('8', '12345', '89997776655', 'teast@mail.ru'),
            ('9', '54321', '87778885566', 'twqwso@mail.ru'),
            ('10', '98265', '87776664577', 'tesee@mail.ru'),
            ('11', '66638', '87778885566', 'faosr@mail.ru'),
            ('12', '34467', '84547895566', 'fdfur@mail.ru'),
            ('13', '34667', '89087545678', 'diave@mail.ru'),
            ('14', '12645', '89997776655', 'tedkt@mail.ru'),
            ('15', '54521', '87778885566', 'jwosw@mail.ru'),
            ('16', '98735', '87776664577', 'thdhe@mail.ru'),
            ('17', '66478', '87778885565', 'faaur@mail.ru'),
            ('18', '34667', '84547895564', 'fofr@mail.ru'),
            ('19', '34537', '89087545673', 'favse@mail.ru'),
            ('20', '12345', '89997776652', 'tefst@mail.ru'),
            ('21', '54621', '87778885561', 'tasao@mail.ru'),
            ('22', '98065', '87776664573', 'thdfe@mail.ru'),
            ('23', '66878', '87778885562', 'fofr@mail.ru'),
            ('24', '36567', '84547895561', 'fduar@mail.ru'),
            ('25', '33567', '89087545671', 'fsvea@mail.ru'),
            ('26', '34617', '84547235564', 'fofar@mail.ru'),
            ('27', '34617', '84547125564', 'assdr@mail.ru'),
            ('28', '53213', '87723885561', 'asaso@mail.ru'),
            ('29', '98123', '87773453573', 'tfghe@mail.ru'),
            ('30', '98123', '87345523573', 'qwese@mail.ru'),
            ('31', '98023', '87734523573', 'qwase@mail.ru'),
            ('32', '92323', '87776345573', 'tsdse@mail.ru'),
            ('33', '91223', '87776234573', 'thsde@mail.ru'),
            ('34', '94523', '87772343573', 'tsdse@mail.ru'),
            ('35', '98023', '87771233573', 'sdase@mail.ru'),
            ('36', '98023', '87776456573', 'tasse@mail.ru'),
            ('37', '98123', '87776145673', 'thsdf@mail.ru'),
            ('38', '66878', '87778823412', 'asada@mail.ru')
            ;""")
               
connection.commit()
connection.close()

In [2]:
connection = sqlite3.connect('C:/chinook.db')
cursor = connection.cursor()

query = '''
select * FROM test3 
'''
df = pd.read_sql_query(query, connection)
df

    key     id        phone            mail
0     1  12345  89997776655    test@mail.ru
1     2  54321  87778885566     two@mail.ru
2     3  98765  87776664577   three@mail.ru
3     4  66678  87778885566    four@mail.ru
4     5  34567  84547895566    four@mail.ru
5     6  34567  89087545678    five@mail.ru
6     8  12345  89997776655   teast@mail.ru
7     9  54321  87778885566  twqwso@mail.ru
8    10  98265  87776664577   tesee@mail.ru
9    11  66638  87778885566   faosr@mail.ru
10   12  34467  84547895566   fdfur@mail.ru
11   13  34667  89087545678   diave@mail.ru
12   14  12645  89997776655   tedkt@mail.ru
13   15  54521  87778885566   jwosw@mail.ru
14   16  98735  87776664577   thdhe@mail.ru
15   17  66478  87778885565   faaur@mail.ru
16   18  34667  84547895564    fofr@mail.ru
17   19  34537  89087545673   favse@mail.ru
18   20  12345  89997776652   tefst@mail.ru
19   21  54621  87778885561   tasao@mail.ru
20   22  98065  87776664573   thdfe@mail.ru
21   23  66878  87778885562    fofr@mail.ru
22   24  36567  84547895561   fduar@mail.ru
23   25  33567  89087545671   fsvea@mail.ru
24   26  34617  84547235564   fofar@mail.ru
25   27  34617  84547125564   assdr@mail.ru
26   28  53213  87723885561   asaso@mail.ru
27   29  98123  87773453573   tfghe@mail.ru
28   30  98123  87345523573   qwese@mail.ru
29   31  98023  87734523573   qwase@mail.ru
30   32  92323  87776345573   tsdse@mail.ru
31   33  91223  87776234573   thsde@mail.ru
32   34  94523  87772343573   tsdse@mail.ru
33   35  98023  87771233573   sdase@mail.ru
34   36  98023  87776456573   tasse@mail.ru
35   37  98123  87776145673   thsdf@mail.ru
36   38  66878  87778823412   asada@mail.ru

In [3]:
connection = sqlite3.connect('C:/chinook.db')
cursor = connection.cursor()

query = '''WITH RECURSIVE associated_maenings AS (  
SELECT *
    FROM test3 
    WHERE phone = '87778885566'

UNION

SELECT a.key, a.id, a.phone, a.mail
    FROM test3 a, associated_maenings
    WHERE a.mail=associated_maenings.mail OR a.key=associated_maenings.key  OR \
    a.id=associated_maenings.id OR a.phone=associated_maenings.phone
)
SELECT*
    FROM associated_maenings 
'''

df = pd.read_sql_query(query, connection)
df

    key     id        phone            mail
0     2  54321  87778885566     two@mail.ru
1     4  66678  87778885566    four@mail.ru
2     9  54321  87778885566  twqwso@mail.ru
3    11  66638  87778885566   faosr@mail.ru
4    15  54521  87778885566   jwosw@mail.ru
5     5  34567  84547895566    four@mail.ru
6     6  34567  89087545678    five@mail.ru
7    12  34467  84547895566   fdfur@mail.ru
8    13  34667  89087545678   diave@mail.ru
9    18  34667  84547895564    fofr@mail.ru
10   23  66878  87778885562    fofr@mail.ru
11   38  66878  87778823412   asada@mail.ru